<template>
  <ItemGenerator />
</template>

<script>
// @ is an alias to /src
import ItemGenerator from "@/components/ItemGenerator/ItemGenerator.vue";

export default {
  name: "Generators",
  components: {
    ItemGenerator
  }
};
</script>

<style>
</style>
