<template>
  <div class="home">
    <section class="hero is-info is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="column is-6 is-offset-3 has-text-centered">
            <h1 class="title is-spaced">
              Dungeon Portal
            </h1>
            <h2 class="subtitle">
              This is a sweet website
            </h2>
          </div>
          <div class="box ticker">
            <nav class="level has-text-black">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Characters</p>
                  <p class="title">
                    <animated-number
                      :value="characters"
                      :duration="300"
                      :formatValue="formatToPrice"
                    />
                  </p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Items</p>
                  <p class="title">
                    <animated-number
                      :value="items"
                      :duration="300"
                      :formatValue="formatToPrice"
                    />
                  </p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Users</p>
                  <p class="title">
                    <animated-number
                      :value="users"
                      :duration="300"
                      :formatValue="formatToPrice"
                    />
                  </p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Monsters</p>
                  <p class="title">
                    <animated-number
                      :value="monsters"
                      :duration="300"
                      :formatValue="formatToPrice"
                    />
                  </p>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import AnimatedNumber from "animated-number-vue";

export default {
  name: "home",
  components: {
    AnimatedNumber
  },
  data() {
    return {
      characters: 0,
      items: 0,
      users: 0,
      monsters: 0
    };
  },
  mounted() {
    setTimeout(() => {
      setInterval(() => this.monsters++, 1000);
    }, 500);

    setTimeout(() => {
      setInterval(() => this.items++, 750);
    }, 750);

    setTimeout(() => {
      setInterval(() => this.users++, 1250);
    }, 1000);

    setTimeout(() => {
      setInterval(() => this.characters++, 1000);
    }, 800);
  },
  methods: {
    formatToPrice(value) {
      return `${value.toFixed(1)}`;
    }
  }
};
</script>

<style lang="scss">
.hero {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1.title {
  font-size: 5rem;
  font-family: "EB Garamond", Arial, Helvetica, sans-serif;
}

.ticker {
  margin-top: 50px;
  .title {
    color: hsl(0, 0%, 21%) !important;
  }
}
</style>
