@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700");

@import "../../node_modules/bulmaswatch/sandstone/_variables.scss";

// Any additional overrides (our own themes etc should be done here)
// check available variables here: https://bulma.io/documentation/customize/variables/
// $family-sans-serif: "EB Garamond", Helvetica, Arial, sans-serif;
// $body-size: 18px;

// Import only what you need from Bulma
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/layout/_all.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/level.sass";

@import "../../node_modules/bulmaswatch/sandstone/_overrides.scss";

// If we make new classes they should be defined elsewhere and then imported here
// to keep things clean. Also consider using Vues own styling scopes.
