<template>
  <div id="app">
    <Navbar />
    <router-view/>
  </div>
</template>

<script>
import Navbar from "@/components/Nav/Navbar.vue";
export default {
  name: "App",
  components: {
    Navbar
  }
};
</script>


<style lang="scss">
</style>
