<template>
  <div class="section">
    <div class="container">
      <div>
        <h2 class="title">This is the item generator</h2>
        <p class="subtitle">Use this to generate items for your games!</p>
      </div>
      <div class="tile is-6">
        <div class="columns">
          <div class="column">
            <a class="button is-primary is-outlined" @click="getItem()">Generate an item</a>
          </div>
          <div class="column is-10">
              <p id="itemNameBox"></p>
          </div>
        </div>
      </div>
      <template v-for="item in items">
        <Item v-bind:item=item v-bind:key=item.id />
      </template>
    </div>
  </div>
</template>

<script>
import APIClient from "@/util/api.js";

import Item from "@/components/ItemGenerator/Item.vue";

export default {
  components: {
    Item
  },
  data() {
    return {
      items: []
    };
  },
  mounted() {
    this.getItem();
  },
  methods: {
    getItem: async function() {
      const item = await APIClient.getItem();
      // Whenever you loop through data and want to convert into components
      // vue likes it if each object has an id or some sort of key, so we're
      // manually gonna add one.

      item.key = this.items.length + 1;
      this.items.push(item);
    }
  }
};
</script>

<style>
</style>
