<template>
  <div id="item_tooltip" class="item-tooltip-grid-container has-background-light">
    <div class="item-tooltip-cell item-icon has-background-light">
      <img src="https://bulma.io/images/placeholders/128x128.png ">
    </div>
    <div class="item-tooltip-cell item-name has-background-primary">
      <div class="title">
        {{getItemTitle}}
      </div>
    </div>
    <div class="item-tooltip-cell item-hand">
      <!-- One Hand -->
    </div>
    <div class="item-tooltip-cell item-type">
      {{item.weapon_type.name}}
    </div>
    <div class="item-tooltip-cell item-stats">

    </div>
    <div class="item-tooltip-cell item-value">
      <span id="coin-value">
        {{item.gold_value}}
      </span>
      <i class="fas fa-coins"></i>
    </div>

    <div class="item-tooltip-cell item-footer subtitle">
      <!-- Rusty but sharp! -->
    </div>
  </div>
</template>

<script>
export default {
  name: "Item",
  props: {
    item: Object
  },
  computed: {
    getItemTitle: function() {
      return `${this.item.quality.name} ${this.item.material.name}
      ${this.item.weapon_type.name} of ${this.item.augment.name}`;
    }
  }
};
</script>

<style>
.item-tooltip-grid-container {
  display: grid;
  grid-template-columns: 64px 1fr 2fr 1fr;
  grid-template-rows: 40px 24px 3fr 1fr;
  box-shadow: 2px 3px 10px rgb(129, 129, 129);
  border: 2px solid grey;
  border-radius: 5px;
  width: 700px;
  margin: 1rem;
}

.item-tooltip-cell {
  /* background-color: brown; */
  text-align: center;
}

.item-tooltip-cell.item-icon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 2;
  /* background-color: aqua; */
}

.item-tooltip-cell.item-name {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  /* background-color: blue; */
  /* border-bottom: 2px solid grey; */
  font-size: 4vw;
}

.item-tooltip-cell.item-hand {
  grid-column: 2 /3;
  grid-row: 2/3;
  /* background-color: yellow; */
  text-align: left;
  padding: 0 32px;
}

.item-tooltip-cell.item-type {
  grid-column: 4/5;
  grid-row: 2/3;
  /* background-color: violet; */
  text-align: center;
}

.item-tooltip-cell.item-stats {
  grid-column: 2/4;
  grid-row: 3/4;
  /* background-color: orange; */
  text-align: left;
  padding: 16px 0px 32px 32px;
}

.item-tooltip-cell.item-value {
  grid-column: 4/5;
  grid-row: 4/5;
  /* background-color: green; */
}

.item-tooltip-cell.item-footer {
  grid-column: 2/5;
  grid-row: 4/5;
  font-style: italic;
}
</style>
