<template>
  <nav class="navbar navbar-menu is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <router-link class="navbar-item" to="/">Dungeon Portal</router-link>
    </div>
    <div class="navbar-start">
      <router-link class="navbar-item" to="/">Home</router-link>
      <router-link class="navbar-item" to="/about">About</router-link>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          Features
        </a>

        <div class="navbar-dropdown">
          <router-link class="navbar-item" to="/generator/item">Item</router-link>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        Welcome, {{identity}}!
      </div>
    </div>
  </nav>
</template>

<script>
import APIClient from "@/util/api.js";

export default {
  data() {
    return {
      identity: null
    };
  },
  async mounted() {
    this.identity = await APIClient.getRandomName();
  }
};
</script>

<style>
</style>
